{% extends "classroom/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Attendance List</li>
        </ol>
    </div>

    <div class="section-heading">
        <h2 style="font-size: 30px; font-family: 'Comic Sans MS', cursive;">Attendance List</h2>
        <div class="line-dec"></div>
    </div>

    {% if today_data.count == 0 and past_data.count == 0 %}
        <center><h2 style="font-size: 30px; font-family: 'Comic Sans MS', cursive;">No student is in the class.</h2></center>
    {% else %}
        <!-- Today's Attendance Block -->
        <div class="container">
         <center> <h2 class="text-center" style="font-size: 30px; color: rgb(250, 250, 250); font-family: 'Comic Sans MS', cursive;">Today's Attendance</h2></center>
            {% if today_data.count == 0 %}
          <center> <p style="font-size: 30px;  font-family: 'Comic Sans MS', cursive;">No attendance recorded for today.</p></center>
            {% else %}
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Roll No</th>
                            <th scope="col">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in today_data %}
                            <tr style="background-color: #212529;">
                                <td style="color: white;">{{ i.attendance.id }}</td>
                                <td style="color: white;">{{ i.info }}</td>
                                <td style="color: white;">{{ i.info.roll_no }}</td>
                                <td style="color: white;">{{ i.attendance.timestamp }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

        <!-- Past Attendance Block -->
        <div class="container">
        <center><h2 class="text-center" style="font-size: 30px; color: rgb(250, 250, 250); font-family: 'Comic Sans MS', cursive;">Past Attendance</h2></center>
            {% if past_data.count == 0 %}
          <center> <p style="font-size: 30px; font-family: 'Comic Sans MS', cursive;">No past attendance recorded.</p></center>
            {% else %}
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Roll No</th>
                            <th scope="col">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in past_data %}
                            <tr style="background-color: #212529;">
                                <td style="color: white;">{{ i.attendance.id }}</td>
                                <td style="color: white;">{{ i.info }}</td>
                                <td style="color: white;">{{ i.info.roll_no }}</td>
                                <td style="color: white;">{{ i.attendance.timestamp }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock %}
