{% extends 'classroom/base.html' %}
{% block content %}

<div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">material</li>
            </ol>

        </div>

       <div class="section-heading">
            <h2>material</h2>
            <div class="line-dec"></div>

          </div>

  <div class="jumbotron ">

{% if student.student_material.count == 0 %}
  <h2 class="text-dark text-center">No materials Yet</h2>
{% else %}

        <div class="row row-content">
            <div class="col-12 col-sm-12">

 <div class="table-responsive">
                    <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">material Name</th>
        <th scope="col">Uploaded By</th>
        <th scope="col">Uploaded Date</th>
        <th scope="col">Download</th>
      </tr>
    </thead>
    <tbody>
      {% for material in student.student_material.all %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ material.material_name }}</td>
          <td>{{ material.teacher }}</td>
          <td>{{ material.created_at }}</td>
          <td><a href="{{ material.material.url }}" class="btn btn-primary" target="_blank">Download</a></td>
         
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
  </div>
{% endif %}
</div>
</div>
{% endblock %}
