{% extends "classroom/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <ol class="col-12 breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Meeting Schedules</li>
        </ol>
    </div>

    <div class="section-heading">
        <h2 style="font-size: 30px; font-family: 'Comic Sans MS', cursive;">Meeting Schedules</h2>
        <div class="line-dec"></div>
    </div>

    {% if meeting_schedules %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Teacher Name</th>
                    <th scope="col">Starting Time</th>
                    <th scope="col">Meeting Link</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in meeting_schedules %}
                    <tr style="background-color: #212529;">
                        <td style="color: white;">{{ schedule.teacher.name }}</td>
                        <td style="color: white;">{{ schedule.created_at }}</td>
                        <td>
                            <a href="{{ schedule.message }}" target="_blank" class="btn btn-primary">
                                Open Meeting
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <center>
            <h2 style="font-size: 30px; font-family: 'Comic Sans MS', cursive;">
                {% if student %}
                    No meeting schedule is available for this student!!!
                {% elif teacher %}
                    No meeting schedule is available for your classrooms!!!
                {% endif %}
            </h2>
        </center>
    {% endif %}
</div>
{% endblock %}
