{% extends 'classroom/base.html' %}
{% load static %}
{% block content %}

<div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Inbox</li>
            </ol>

        </div>

       <div class="section-heading">
            <h2 style="font-size: 30px;  font-family: 'Comic Sans MS', cursive;">Inbox</h2>
            <div class="line-dec"></div>

          </div>

 {% if teacher.messages.count == 0 %}
  <h2 class=" text-center">No messages yet.</h2>
  {% else %}
  {% for mssg in teacher.messages.all %}

  <div class="notice">
  <div class="row">

    <div class="col-12 col-md-12">
<div class="card card-body bg-dark">
      <div class="notice-details">
        <div class="row align-items-center">

        <div class="col-2">
{% if mssg.student.student_profile_pic %}
        <img src="{{ mssg.student.student_profile_pic.url }}" class="notice-img">
        {% else %}
        <img src="{% static 'images/s_profile.png' %}" class="notice-img">
        {% endif %}
        </div>


<div class="offset-2 col-8">
    <div class="row">
        <div class="col-md-6">
          <h5>By: {{ mssg.student.name }}</h5>
        </div>

        <div class="col-md-6">
          <h5>{{ mssg.created_at }}</h5>
        </div>

        </div>
 </div>
  </div>
        </div>
        <hr>


         <div class="message-reply-form">
          <p class="text-white">
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
           
            Student: {{ mssg.message_html|safe }}</p>

          {% if mssg.reply %}
          <p class="text-white">
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            You: {{ mssg.reply|safe }}</p>
      {% else %}
          <p class="text-white">
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            You:Didn't reply yet</p>
      {% endif %}
        
          <form method="post" action="{% url 'classroom:reply_to_message' %}">
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            &emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;&emsp14;
            {% csrf_token %}
                <input type="hidden" name="message_id" value="{{ mssg.id }}">
                <textarea name="reply_text" placeholder="Reply to this message" rows="3" cols="60"></textarea>
                <button type="submit">Reply</button>
            </form>

        </div>

        </div>

    </div>
  </div>

  </div>
  <br>
  {% endfor %}
  {% endif %}

                      
</div>

{% endblock %}
