{% extends "classroom/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <ol class="col-12 breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Meeting Schedules</li>
      </ol>
    </div>

    <div class="section-heading">
      <h2 style="font-size: 30px; font-family: 'Comic Sans MS', cursive;">Meeting Schedules</h2>
      <div class="line-dec"></div>
    </div>

    {% if teacher_names_and_links %}
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Teacher Name</th>
            <th scope="col">Starting Time</th>
            <th scope="col">Meeting Link</th>
          </tr>
        </thead>
        <tbody>
          {% for teacher_name, time,link_html in teacher_names_and_links %}
            <tr style="background-color: #212529;">
              <td style="color: white;">{{ teacher_name }}</td>
              <td style="color: white;">{{ time }}</td>
              <td>
                <a href="{{ link_html }}" class="btn btn-primary" target="_blank">Join Meeting</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <center>
        <h2 style="font-size: 30px; font-family: 'Comic Sans MS', cursive;">
          {% if student %}
            Teacher has not scheduled any meeting with you!!!
          {% endif %}
        </h2>
      </center>
    {% endif %}
  </div>
{% endblock %}
