{% extends 'classroom/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}">Assignment</a></li>
                <li class="breadcrumb-item active">Submit Assignment</li>
            </ol>

        </div>

       <div class="section-heading">
            <h2 style="font-size: 30px;  font-family: 'Comic Sans MS', cursive;">Submit Assignment</h2>
            <div class="line-dec"></div>
          </div>

<div class="jumbotron bg-dark text-white" style="max-width: 60%; margin: auto;">
  <h2 style="font-size: 30px;  font-family: 'Comic Sans MS', cursive;">You can't edit after your submission</h2>
  <form enctype="multipart/form-data" method="post" >
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" name="" value="Submit">
  </form>
</div>
</div>
{% endblock %}
