{% extends 'classroom/base.html' %}
{% load bootstrap4 %}
{% block content %}

  <div class="container ">
		<div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'classroom:class_student_list' %}">Class Students</a></li>
                 <li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}">Marks Profile</a></li>
                <li class="breadcrumb-item active">Update Marks </li>
            </ol>

        </div>

          <div class="section-heading">
            <h2 class="" style="font-size: 30px;  font-family: 'Comic Sans MS', cursive" >Update Marks </h2>
            <div class="line-dec"></div>

          </div>

<div class="jumbotron bg-dark text-white" style="max-width: 400px; margin: 0 auto;">
  {% if marks_updated %}
  <center><h2 style="font-size: 30px;  font-family: 'Comic Sans MS', cursive;">Marks updated successfully!!!</h2></center>
  {% else %}

  <form  method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" class="btn btn-primary" value="Update">
  </form>
  {% endif %}
</div>
</div>
{% endblock %}
