{% extends 'classroom/base.html' %}
{% load bootstrap4 cache %}
{% block content %}
<div class="container" style="width: 50%;">
    <br>
    <br>
    <div class="jumbotron bg-secondary text-white" >
        {% if material_uploaded %}
       
        <h1 class="text-center" style="font-size: 30px;  font-family: 'Comic Sans MS', cursive;">Material is uploaded successfully.</h1>
        {% else %}
        <form enctype="multipart/form-data" method="post" style="width: 50%; margin-left: 25%;">
            {% csrf_token %}
            {% bootstrap_form form %}
            
            <div class="form-group">
                <label for="classroom_select">Select Classroom:</label>
                <select class="form-control" name="classroom_select" id="classroom_select" style="width: 90%;" required>
                    {% for classroom in created_classrooms %}
                        <option value="{{ classroom.id }}" >{{ classroom.subject_name }}</option>
                    {% endfor %}
                </select>
            </div>


          
            
            <input type="submit" class="btn btn-primary" name="" value="Upload">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
