{% extends "classroom/base.html" %}
{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
<div class="section-heading">
    <br>
    <h2 style="font-size: 30px; font-family: 'Comic Sans MS', cursive;">Reset Password</h2>
    <div class="line-dec"></div>
</div>

<div class="jumbotron bg-dark text-white" style="max-width: 600px; margin: auto;">
    <h1>Password Reset Email Sent</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
{% endblock %}
